.australia-company-reg {
  @media screen and (max-width: 990px) {
    .Types-img{
      height:600px;
    }
    .Establish-img{
      height:400px;
    }
    .DocumentReq-img{
      height:1080px;
   
    }
    .Facts-img{
      height:600px;
    }
  }
}
