.basic-fssai-registration-renewal-reg {
    @media screen and (max-width: 990px) {
        .Requires-img{
            border:1px solid black;
        }
        .Types-img{
            border:1px solid black;
        }
        .Benefits-img{
            border:1px solid black;
        }
        .DocumentsNeeded-img{
            border:1px solid black;
        }
        .Procedure-img{
            border:1px solid black;
        }
        .Consequences-img{
            border:1px solid black;
        }
    }
  }
  