.bis-certification-for-power-banks-reg {
    @media screen and (max-width: 990px) {
        .Applicable-img{
            height:400px;
        }
        .Eligibility-img{
            height:400px;
        }
        .Description-img{
            height:400px;
        }
        .Types-img{
            height:400px;
        }
        .DocumentsRequired-img{
            height:800px;
        }
        .Procedure-img{
            height:400px;
        }
        .Cancellation-img{
            height:400px;
        }
        .Revocation-img{
            height:400px;
        }
        .Mandatory-img{
            height:400px;
        }
        .WhyRegisterKaroBIS-img{
            height:400px;
        }
    }
  }
  