.bis-fmcs-certification-reg {
  @media screen and (max-width: 990px) {
   .Requirements-img{
      height:600px;    
   }
   .KeyGuidelines-img{
        height:600px;
   }
   .BisStandard-img{
        height:300px;
   }
   .Importance-img{
        height:600px;
   }
   .DocRequiredBIS-img{
        height:1080px;
   }

  }
}
