.bis-crs-certification-reg{
  @media screen and (max-width: 990px) {
    .Process-img {
      height: 600px;
    }
    .GuidelinesElectronic-img {
      height: 920px;
    }
    .Implementation-img {
      height: 620px;
    }
    .Evaolution-img{
      height: 600px;
    }
    .Product-img{

    }
    .Eligibility-img{

    }
    .Documents-img{
      
    }
  }
}
