.book-keeping-and-accounting-services-reg {
  @media screen and (max-width: 990px) {
    .HowRegisterkaro-img{
      height: 600px;
    }
    .WhyOutsources-img{
      height: 600px;
    }
    .WhyBookkeeping-img{
      height: 500px;
    }
    .WhoMandates-img{

    }

  }
}
