.british-virgin-island-company-reg {
  @media screen and (max-width: 990px) {
    .Benefits-img{
      height:500px
    }
    .Types-img{
      height:600px
    }
    .DocumentRequired-img{
      height:1000px
    }
    .Prerequisites-img{
      height:500px
    }
    .ProcessCompany-img{
      height:500px
    }
    .WhyChoose-img{
      height:500px
    }
  }
}
