.change-in-director {
  @media screen and (max-width: 990px) {
    .Meaning-img{
      height:400px
    }
    .Role-img{
      height:400px
    }
    .Eligibility-img{
      height:400px
    }
    .DocumentsRequired-img{
      height:600px
    }

  }
}
