.change-in-director {
  @media screen and (max-width: 990px) {
    .Meaning-img{
      border: 1px solid black;
    }
    .Role-img{
      border: 1px solid black;
    }
    .Eligibility-img{
      border: 1px solid black;
    }
    .DocumentsRequired-img{
      border: 1px solid black;
    }

  }
}
