.company-valuation-startups {
    @media screen and (max-width: 990px) {
      .MethodsUsed-img{
        height: 350px;
  
      }
      .FactorsAffectingValuation-img{
        height: 400px;
  
      }
      .ChangesInValuation-img{
        height: 350px;
  
      }
      .WhyForStartupEvaluation-img{
        height: 500px;
  
      }
    }
}