.consumer-complaint-reg {
  @media screen and (max-width: 990px) {
    .DifferentTypes-img {
      height: 280px;
    }
    .benefits-img {
      height: 320px;
    }
    .DocumentArrowWise-img {
      height: 320px;
    }
  }
}
