.consumer-complaint-reg {
  @media screen and (max-width: 990px) {
    .Eligibility-img{
      height: 280px;
    }
    .Challenges-img {
      height: 320px;
    }
    .StepsForFilling-img {
      height: 320px;
    }
    .DocumentArrowWise-img {
      height: 320px;
    }
    .HowCanRegisterKaro-img{
      
    }
    .certificate{

    }
  }
}
