.copyright-reg {
  @media screen and (max-width: 990px) {
    .Copyright-img{
      height:400px;
    }
    .Benefits-img{
      height:600px;
    }
    .Eligible-img{
      height:700px;
    }
    .DocumentsRequired-img{
      height:500px;
    }
    .HowDoes-img{
      height:500px;
    }
  }
}
