.copyright-reg {
  @media screen and (max-width: 990px) {
    .Copyright-img{
      border:1px solid black;
    }
    .Benefits-img{
      border:1px solid black;
    }
    .Eligible-img{
      border:1px solid black;
    }
    .DocumentsRequired-img{
      border:1px solid black;
    }
    .HowDoes-img{
      border:1px solid black;
    }
  }
}
