.drug-license-reg {
  @media screen and (max-width: 990px) {
    .Basic-img{
      height: 500px;
    }
    .Application-img{
      height: 500px;
    }
    .Type-img{
      height: 500px;
    }
    .DocumentsRequired-img{
      height: 400px;
    }
    .HowRegisterKaro-img{
      height: 400px;
    }
  }
}
