.dubai-reg {
  @media screen and (max-width: 990px) {
      .Types-img{
        height: 600px;
      }
      .Why-img{
        height: 600px;
      }
      .DocumentRequired-img{
        height: 350px;
      }
      .WhyChoose-img{
        height: 600px;
      }
  }
}
