.environmental-clearance-reg {
  @media screen and (max-width: 990px) {
    .Applicable-img{
      height: 900px;
    }
    .Prerequisites-img{
      height: 600px;
    }
    .Types-img{
      height: 600px;
    }
    .DocumentRequired-img{
      height: 600px;
    }
    .Procedure-img{
      height: 500px;
    }
    .Certificate-img-one{
      height: 400px;
    }
    .Certificate-img-two{
      height: 400px;
    }
  }
}
