.environmental-clearance-reg {
  @media screen and (max-width: 990px) {
    .Applicable-img{
      border: 1px solid black;
    }
    .Prerequisites-img{
      border: 1px solid black;
    }
    .Types-img{
      border: 1px solid black;
    }
    .DocumentRequired-img{
      border: 1px solid black;
    }
    .Procedure-img{
      border: 1px solid black;
    }
    .Certificate-img{
      border: 1px solid black;
    }
  }
}
