.epf_registration-reg {
  @media screen and (max-width: 990px) {
    .objectives-img{
      height: 600px;
    }
    .Applicability-img{
      height: 500px;
    }
    .Benefits-img{
      height: 600px;
    }
    .Eligibility-img{
      height: 500px;
    }
    .Different-img{
      height: 500px;
    }
    .important-img{
      height: 1080px;
    }
    .Documents-img{
      height: 600px;

    }
    .Withdrawal-img{
      height: 600px;
    }
    .exempted-img{
      height: 500px;
    }
    .MandatoryCompliance-img{
      height: 400px;
    }
    .Due-img{
      height: 500px;
    }
  }
}
