.epr-authorization-for-e-waste {
    @media screen and (max-width: 990px) {
        .WhatIs-img{
            height:400px;
        }
        .TypeOF-img{
            height:600px;
        }
        .EWaste-img{
            height:500px;
        }
        .DocumentsRequired-img{
            height:800px;
        }
        .Renewal-img{
            height:500px;
        }
        .BenefitsOfState-img{
            height:600px;
        }
    }
  }
  