.founders-agreement{
    ol > li::marker {
        font-weight: bold;
      }
    @media screen and (max-width: 990px) {
        .Components-img{
            height: 620px;
          }
          .DocumentsReq-img{
            height: 620px;
          }
          .TerminateMeaning-img{
            height: 620px;
          }
          .WhyChooseReg-img{
            height: 520px;
          }
    }
}