.fpo-mark-certification-reg {
  @media screen and (max-width: 990px) {
    .FoodProduct-img{
      height: 850px;
    }
    .certificate{

    }
    .FPOMark-img{
      height: 720px;
    }
    .DocumentsRequired-img{
      height: 720px;
    }
    .HowMuchTime-img{

    }
  }
}
