.france-reg {
  @media screen and (max-width: 990px) {
    .Benefits-img{
      height:500px
    }
    .Types-img{
      height:800px
    }
    .DocumentRequired-img{
      height:900px
    }
    .WhyChoose-img{
      height:500px
    }
  }
}
