.fssai-registration-reg {
  @media screen and (max-width: 990px) {
    .OtherAnnual-img {
      height: 100%;
    }
    .EventBased-img {
      height: 100%;
    }
    .WhoReq-img {
      height: 100%;
    }
    .PartnershipDeed-img {
      height: 100%;
    }
    .DifferentTypes-img{
      height: 100%;
    }
  }
}
