.fssai-product-approval-reg {
    .line{
        width: 4px;
        background-color: #E9A038;
        margin: 0 0.5rem;
      }
    .leftDocs{
        width: 60%;
    }
    @media screen and (max-width: 990px) {
        .line{
            display: none;
        }
        .DcosContainer{
            display: block;
        }
        .leftDocs{
            width: 100%;
        }
        .System-img{
            height: 400px;
        }
        .Require-img{
            height: 700px;
        }
        .EarlierRules-img{
            height: 400px;
        }
        .Approval-img{
            height: 400px;
        }
        .Benefits-img{
            height: 400px;
        }
        .WhoCan-img{
            height: 400px;
        }
        .DocumentRequired-img{
            height: 400px;
        }
        .Procedure-img{
            height: 600px;
        }
    }
}