.fssai-product-approval-reg {
    @media screen and (max-width: 990px) {
        .System-img{
            border:1px solid black;
        }
        .Require-img{
            border:1px solid black;
        }
        .EarlierRules-img{
            border:1px solid black;
        }
        .Approval-img{
            border:1px solid black;
        }
        .Benefits-img{
            border:1px solid black;
        }
        .WhoCan-img{
            border:1px solid black;
        }
        .DocumentRequired-img{
            border:1px solid black;
        }
        .Procedure-img{
            border:1px solid black;
        }
    }
}