.germany-reg {
  @media screen and (max-width: 990px) {
    .WhyStart-img{
      height: 550px;

    }
    .Types-img{
      height: 600px;

    }
    .Prerequisites-img{
      height: 500px;

    }
    .DocumentRequired-img{
      height: 1100px;

    }
  
    .WhyChoose-img{
      height: 500px;

    }
  }
}
