.gst-registration {
    @media screen and (max-width: 990px) {
        .DifferentTable-img{
            height: 600px
        }
        .Benefits-img{
            height: 600px
        }
        .Who-img{
            height: 400px
        }
        .VitalDocuments-img{
            height: 800px
        }
        .RegistrationProcess-img{
            height: 600px
        }
        .GSTReturn-img{
            height: 300px
        }
        .Penalty-img{
            height: 500px
        }
        .Voluntary-img{
            height: 400px
        }
        .Exemption-img{
            height: 500px
        }
    }
  }
  