.gst-registration {
    @media screen and (max-width: 990px) {
        .DifferentTable-img{
            border:1px solid black;
        }
        .Benefits-img{
            border:1px solid black;
        }
        .Who-img{
            border:1px solid black;
        }
        .VitalDocuments-img{
            border:1px solid black;
        }
        .RegistrationProcess-img{
            border:1px solid black;
        }
        .GSTReturn-img{
            border:1px solid black;
        }
        .Penalty-img{
            border:1px solid black;
        }
        .Voluntary-img{
            border:1px solid black;
        }
        .Exemption-img{
            border:1px solid black;
        }
    }
  }
  