.hallmark-regi {
    @media screen and (max-width: 990px) {
        .Importance-img{
            height:500px;
        }
        .ListDifferent-img{
            height:600px;
        }
        .NewMethods-img{
            height:500px;
        }
        .Types-img{
            height:600px;
        }
        .DifferentTable-img{
            height:500px;
        }
        .DocumentRequired-img{
            height:700px
        }
        .Procedure-img{
            height:500px;
        }
        .Fees-img{
            height:500px;
        }
        .Benefits-img{
            height:500px;
        }
    }
  }
  