.income-tax-filing-online-reg {
    @media screen and (max-width: 990px) {
        .Types-img{
            height:600px
        }
        .Benefits-img{
            height:600px
        }
        .Prerequisites-img{
            height:600px
        }
        .DocumentRequired-img{
            height:600px
        }
        .Procedure-img{
            height:600px
        }
        .Penalty-img{
            height:300px
        }
    }
}