.increase-authorized-capital {
    @media screen and (max-width: 990px) {
        .Meaning-img{
            height:480px
        }
        .Primary-img{
            height:400px;
        }
        .Advantages-img{
            height:600px;
        }

    }
  }
  