.international-tm-reg{
    @media screen and (max-width: 990px) {
        .WhyChoose-img{
            height: 400px;
        }

        .WIPO-img{
            height: 400px;
        }

        .MadridProtocol-img{
            height: 500px;
        }

        .CheckIfCanApply-img{
            height: 250px;

        }

        .RequirementsToFulfil-img{
            height: 300px;

        }

        .HowRegisterKaroHelps-img{
            height: 400px;

        }
    }
}