.isi-mark-certification-reg {

  
  @media screen and (max-width: 990px) {
    .Documents-img{
      height: 1000px;
    }
    .main-parition{
      flex-direction: column;
    }
    .Primary-img{
      height: 500px;
    }
    .KeyPoints-img{
      height: 500px;
    }
    .Benefits-img{
      height: 500px;
    }
    .listProducts-img{
      height: 500px;
    }
    .validity-img{
      height: 500px;
    }
    .Reasons-img{
      height: 500px;
    }
  }
}
