.iso-certification-reg {
  @media screen and (max-width: 990px) {
   .ISOFramework-img{
    height: 500px;
   }
   .BenefitsISO-img{
    height: 500px;
   }
   .DocumentsRequired-img{
     height: 500px;
   }
   .certificate{
    
   }
  }
}
