.italy-company-reg{
    @media screen and (max-width: 990px) {
        .Benefits-img{
            height: 500px;
            
        }
        .Types-img{
            height: 500px;
            
        }
        .DocumentRequired-img{
            height: 1000px;
            
        }
        .ProcessCompany-img{
            height: 400px;
            
        }
        .Prerequisites-img{
            height: 400px;
            
        }
        .WhyChoose-img{
            height: 400px;
            
        }
    }
}