.legal-notice-for-defamation{
    ol > li::marker {
        font-weight: bold;
      }
    @media screen and (max-width: 990px) {
        .Understanding-img{
            height: 620px;
        }
        .Definition-img{
            height: 620px;
        }
        .CriminalDefamation-img{
            height: 620px;
        }
        .CivilDefamation-img{
            height: 620px;
        }
    }
  }