.liquor-license-reg {
  @media screen and (max-width: 990px) {
    .Types-img{
      height:800px
    }
    .DocumentRequired-img{
      height:700px
    }
    .ProcessCompany-img{
      height:400px
    }
    .Estimated-img{
      height:400px
    }
    .Prerequisites-img{
      height:300px
    }
    .WhyChoose-img{
      height:400px
    }
  }
}
