.llp-reg {
  // .DifferentTypes-img{
  //   border: 1px solid red;
  // }
  @media screen and (max-width: 990px) {
    .benefits-img {
      height: 600px;
    }
    .DifferentTypes-img {
      height: 460px;
    }
    .DocumentArrowWise-img {
      height: 220px;
    }
  }
}
