.malaysia-company-reg{
    @media screen and (max-width : 990px) {
            .Benefits-img{
                height:500px;
            }
            .Types-img{
                height:500px;
            }
            .Taxes-img{
                height:500px;
            }
            .Prerequisites-img{
                height:500px;
            }
            .DocumentRequired-img{
                height:500px;
            }
            .ProcessCompany-img{
                height:500px;
            }
            .PostRegistration-img{
                height:500px;
            }
            .WhyChoose-img{
                height:500px;
            }
    }
}