.mauritius-reg {
  @media screen and (max-width: 990px) {
    .Features-img{
      height: 550px;

    }
    .Types-img{
      height: 600px;

    }
    .IncorporationFees-img{
      height: 500px;

    }
    .DocumentRequired-img{
      height: 600px;

    }
  
    .HowDoes-img{
      height: 500px;

    }
  }
}
