.medical-device-registration-reg {
  @media screen and (max-width: 990px) {
    .ApplicableRegulations-img{
      height: 500px;
    }
    .EligibilyMandatory-img{
      height: 500px;
    }
    .DescriptionServicesTwo-img{
      height: 900px;
    }
    .DescriptionServicesOne-img{
      height: 900px;
    }
    .WhatDocument-img{
      height: 900px;
    }
    .MedicalDevice-img{
      height: 900px;
    }
    .MedicalDeviceRegistration-img{
      height: 300px;
    }
    .RenewalService-img{
      height: 400px;
    }
    .Cancellation-img{
      height: 500px;
    }
    .MandatoryCom-img{
      height: 500px;
    }
  }
}
