.mou-reg{
    @media screen and (max-width : 990px){
        .NeedMemorandum-img{
           height:500px;
        }
        .Points-img{
           height:800px;
        }
        .WhyChoose-img{
           height:500px;
        }
    }
}