.nbfc-reg{
  @media screen and (max-width: 990px) {
    .BusinessModel-img{
      height: 430px;
    }
    .NBFCbased-img{
      height: 430px;
    }
    .NBFCsBasedAsset-img{
      height: 400px;
    }
    .Activities-img{
      height: 630px;
    }
    .Benefits-img{
      height: 630px;
    }
    .Challenges-img{
      height: 630px;
    }
    .Prerequisites-img{
      height: 630px;
    }
    .DocumentsRequired-img{
      height: 630px;
    }
  }
}
