.new-zealand-comp-reg {
    @media screen and (max-width: 990px) {
        .WhyBene-img{
            height:600px
        }
        .Types-img{
            height:600px
        }
        .DocumentRequired-img{
            height:600px
        }
        .Prerequisites-img{
            height:500px
        }
        .WhyChoose-img{
            height:600px
        }
    }
  }
  