.ngo-reg {
  .certificate{
    height: 37rem;
    width: 35rem;
  }
  @media screen and (max-width: 990px) {
    .Benefits-img {

    }
    .Eligibility-img{

    }
    .certificate{

    }
    .TypeOfNgo-img{

    }
    .Classification-img{
      height: 600px;
    }
    .WhyNGO-img{

    }
    .Benefits-img{

    }
    .HowToRegister-img{
      height: 600px;
    }
    .WhyNGO-img{
      height: 700px;
    }
  }
}
