.nidhi-reg {
  @media screen and (max-width: 990px) {
    .benefits-img {
      height: 520px;
    }
    .Requirement-img {
      height: 620px;
    }
    .DocumentRequired-img {
      height: 320px;
    }
    .Procedure-img {
      height: 520px;
    }
    .DifferentTypes-img {
      height: 280px;
    }
    .DocumentArrowWise-img {
      height: 320px;
    }
    .EventBased-img {
      height: 600px;
    }
    .Penalties-img {
      height: 280px;
    }
  }
}
