.nidhi-comp-compliance-reg {
  @media screen and (max-width: 990px) {
      .What-img{
       height:400px;
      }
      .Advantages-img{
       height:1080px;
      }
      .Vital-img{
       height:400px;
      }
      .Incorporation-img{
       height:400px;
      }
      .PostIncorporation-img{
       height:600px;
      }
      .ListofAnnual-img{
       height:600px;
      }
      .Penalties-img{
       height:600px;
      }
      .Event-img{
       height:600px;
      }
      .NewComplianceRules-img{
       height:400px;
      }
  }
}
