.nsic-reg{
    @media screen and (max-width:990px) {
        .Benefits-img{
            height:500px;
        }
        .Eligible-img{
            height:500px;
        }
        .Challenges-img{
            height:250px;
        }
        .Schemes-img{
            height:500px;
        }
        .Documents-img{
            height:600px;
        }
        .ProcessNSIC-img{
            height:500px;
        }
        .WhyChoose-img{
            height:500px;
        }
    }
}