.oman-company-reg {
  @media screen and (max-width: 990px) {
    .Types-img{
      height: 620px;
    }
    .Post-img{
      height: 620px;
    }
    .DocumentsReq-img{
      height: 620px;
    }
    .WhyChooseReg-img{
      height: 520px;
    }
  }

}
