.opc-reg {
  @media screen and (max-width: 990px) {
    .opcReg-img {
      height: 280px;
    }
    .DifferentTypes-img {
      height: 280px;
    }
    .benefits-img {
      height: 320px;
    }
    .DocumentArrowWise-img {
      height: 300px;
    }
    .Procedure-img {
      height: 280px;
    }
    .Restrictions-img{
      height: 280px;
    }
  }
}
