.outsource-bookkeeping-services{
    @media screen and (max-width :990px) {
            .Services-img{
                border: 1px solid black;
            }
            .WhyOutsource-img{
                border: 1px solid black;
            }
            .WhatHappen-img{
                border: 1px solid black;
            }
            .OurProcess-img{
                border: 1px solid black;
            }
            .WhyChoose-img{
                border: 1px solid black;
            }
    }
}