.outsource-bookkeeping-services{
    @media screen and (max-width :990px) {
            .Services-img{
                height:500px;
            }
            .WhyOutsource-img{
                height:700px;
            }
            .WhatHappen-img{
                height:500px;
            }
            .OurProcess-img{
                height:500px;
            }
            .WhyChoose-img{
                height:500px;
            }
    }
}