.patent-registration{
    @media screen and (max-width : 990px) {
        .TypesPatents-img{
            height:300px;
        }
        .WhyPatent-img{
            height:500px;
        }
        .Check-img{
            height:600px;
        }
        .DocumentRequired-img{
            height:500px;
        }
        .Forms-img{
            height:500px;
        }
        .ProcessSteps-img{
            height:500px;
        }
        .WhyChoose-img{
            height:500px;
        }
    }
}