.patent-registration{
    @media screen and (max-width : 990px) {
        .TypesPatents-img{
            border: 1px solid black;
        }
        .WhyPatent-img{
            border: 1px solid black;
        }
        .Check-img{
            border: 1px solid black;
        }
        .DocumentRequired-img{
            border: 1px solid black;
        }
        .Forms-img{
            border: 1px solid black;
        }
        .ProcessSteps-img{
            border: 1px solid black;
        }
        .WhyChoose-img{
            border: 1px solid black;
        }
    }
}