.pf-return{
    @media screen and (max-width:990px) {
        .WhoCan-img{
            border:1px solid black;
        }
        .WhyOpt-img{
            border:1px solid black;
        }
        .DocumentRequired-img{
            border:1px solid black;
        }
        .Forms-img{
            border:1px solid black;
        }
        .File-img{
            border:1px solid black;
        }
        .Consequences-img{
            border:1px solid black;
        }
        .KeyPoints-img{
            border:1px solid black;
        }
        .WhyChoose-img{
            border:1px solid black;
        }
    }
}