.pf-return{
    @media screen and (max-width:990px) {
        .WhoCan-img{
            height:400px
        }
        .WhyOpt-img{
            height:400px
        }
        .DocumentRequired-img{
            height:500px
        }
        .Forms-img{
            height:600px
        }
        .File-img{
            height:400px
        }
        .Consequences-img{
            height:400px
        }
        .KeyPoints-img{
            height:400px
        }
        .WhyChoose-img{
            height:400px
        }
    }
}