.producer-reg {
  .acitivity-img {
    height: 700px;

  }
  @media screen and (max-width: 990px) {
 
    .benefits-img {
      height: 620px;
    }
    .ActivityPerform-img {
      height: 820px;
    }
    .DocumentRequired-img{

    }
    .DifferentTypes-img{

    }
  }

  @media screen and (max-width: 650px) {
    .benefits-img {
      height: 100%;
    }
    .ActivityPerform-img{
      height: 100%;
    }

  }
}
