.pro-authorization-reg {
  @media screen and (max-width: 990px) {
    .LegalFramework-img{
      height:500px;
    }
    .Eligibility-img{
      height:500px;
    }
    .MandatoryCompliance-img{
      height:500px;
    }
  }
}
