.psara-license-reg {
  @media screen and (max-width: 990px) {
    .Agency-img{
      border:1px solid black;
    }
    .Significant-img{
      border:1px solid black;
    }
    .Benefits-img{
      border:1px solid black;
    }
    .Eligible-img{
      border:1px solid black;
    }
    .DocumentsRequired-img{
      border:1px solid black;
    }
    .HowApply-img{
      border:1px solid black;
    }
    .Timeframe-img{
      border:1px solid black;
    }
    .Appointment-img{
      border:1px solid black;
    }
    .Contact-img{
      border:1px solid black;
    }
  }
}
