.public-reg {
  @media screen and (max-width: 990px) {
    .benefits-img {
      height:600px;
    }
    .DifferentTypes-img {
      height: 280px;
    }
    .DocumentRequired-img {
      height: 38rem;
    }
    .DocumentArrowWise-img {
      height: 320px;
    }
    .Validity-img{
      height: 300px;
    }
    .Suspension-img{
      height: 280px;
    }
  }
}
