.public-reg {
  @media screen and (max-width: 990px) {
    .DifferentTypes-img {
      height: 280px;
    }
    // .benefits-img {
    //   height: 320px;
    // }
    .DocumentRequired-img{
      height: 35rem;
    }
    .DocumentArrowWise-img {
      height: 320px;
    }
    
  }
}