.qatar-reg {
  @media screen and (max-width: 990px) {
    .Benefits-img{
      height: 500px;
    }
    .Types-img{
      height: 900px;
    }
    .DocumentRequired-img{
      height: 1000px;
    }
    .WhyChoose-img{
      height: 500px;
    }
  }
}
