.qatar-reg {
  @media screen and (max-width: 990px) {
    .Benefits-img{
      border:1px solid black;
    }
    .Types-img{
      border:1px solid black;
    }
    .DocumentRequired-img{
      border:1px solid black;
    }
    .WhyChoose-img{
      border:1px solid black;
    }
  }
}
