.rera-reg {
    @media screen and (max-width: 990px) {
        .WhyOpt-img{
            border:1px solid black;
        }
        .Eligibility-img{
            border:1px solid black;
        }
        .DocumentRequired-img{
            border:1px solid black;
        }
        .WhyChoose-img{
            border:1px solid black;
        }
    }
  }
  