.rera-reg {
    .line{
        width: 4px;
        background-color: #E9A038;
        margin: 0 0.5rem;
      }
    @media screen and (max-width: 990px) {
        .line{
            display: none;
        }
        .DcosContainer{
            display: block;
        }
        .WhyOpt-img{
            height: 800px;
        }
        .Eligibility-img{
            height: 500px;
        }
        .DocumentRequired-img{
            height: 500px;
        }
        .WhyChoose-img{
            height: 500px;
        }
    }
  }
  