.revival-of-struck-off-companies-reg {
    @media screen and (max-width: 990px) {
        .Revival-img{
            border: 1px solid black;
        }
        .WhoCan-img{
            border: 1px solid black;
        }
        .Strike-img{
            border: 1px solid black;
        }
        .Procedure-img{
            border: 1px solid black;
        }
        .Benefits-img{
            border: 1px solid black;
        }
        .DocumentsRequired-img{
            border: 1px solid black;
        }
        .Restore-img{
            border: 1px solid black;
        }
    }

}