.revival-of-struck-off-companies-reg {
    @media screen and (max-width: 990px) {
        .Revival-img{
            height:400px;
        }
        .WhoCan-img{
            height:300px;
        }
        .Strike-img{
            height:400px;
        }
        .Procedure-img{
            height:500px;
        }
        .Benefits-img{
            height:400px;
        }
        .DocumentsRequired-img{
            height:700px;
        }
        .Restore-img{
            height:400px;
        }
    }

}