.rni-registration-reg {
  @media screen and (max-width: 990px) {
   .ChooseRegisterKaro-img{
     height: 500px;
   }
   .NeedRNI-img{

   }
   .certificate{

   }
   .Documents-img{
    height: 300px;
   }
   .WhyNeed-img{
    height: 400px;
   }

  }
}
