.saudi-arabia-reg {
  @media screen and (max-width: 990px) {
      .Benefits-img{
        border:1px solid black;
      }
      .Types-img{
        border:1px solid black;
      }
      .DocumentRequired-img{
        border:1px solid black;
      }
      .ProcessCompany-img{
        border:1px solid black;
      }
      .PostRegistration-img{
        border:1px solid black;
      }
      .TypesofTaxes-img{
        border:1px solid black;
      }
      .WhyChoose-img{
        border:1px solid black;
      }
  }
}
