.section-8-reg {
  @media screen and (max-width: 990px) {
    .ImportantPoints-img {
      height: 300px;
    }
    .Advantages-img {
      height: 600px;
    }
    .Eligibility-img {
      height: 300px;
    }
    .Requirements-img {
      height: 550px;
    }
    .DocumentRequired-img {
      height: 550px;
    }
    .Procedure-img {
      height: 520px;
    }
    .AnnualCompliance-img {
      height: 300px;
    }
    .Penalties-img {
      height: 300px;
    }
  }
}
