.shareholders-agreement-reg {
    @media screen and (max-width: 990px) {
        .Importance-img{
            border:1px solid black;
        }
        .Clauses-img{
            border:1px solid black;
        }
        .Benefits-img{
            border:1px solid black;
        }
        .HowCreate-img{
            border:1px solid black;
        }
    }
}