.shareholders-agreement-reg {
    @media screen and (max-width: 990px) {
        .Importance-img{
            height:500px;
        }
        .Clauses-img{
            height:700px;
        }
        .Benefits-img{
            height:500px;
        }
        .HowCreate-img{
            height:600px;
        }
    }
}