.shop-and-establishment-act-reg {
  @media screen and (max-width: 990px) {
   .WhatRegulations-img{
    height: 500px;

   }
   .ImportanceShop-img{
    height: 800px;

   }
   .WhichEntities-img{
    height: 500px;

   }
   .AdvantagesShop-img{
    height: 400px;

   }
   .ChecklistDocumentRequired-img{
    height: 500px;

   }
   .ProcedureShop-img{
    height: 400px;

   }
   .Penalities-img{
    height: 400px;

   }
  }
}
