.singapore-regi {
  @media screen and (max-width: 990px) {
    .Benefits-img{
      height: 550px;

    }
    .Types-img{
      height: 600px;

    }
    .Prerequisites-img{
      height: 500px;

    }
    .DocumentRequired-img{
      height: 900px;

    }
  
    .WhyChoose-img{
      height: 500px;

    }
  }
}
