.small-scale-industries-reg {
    @media screen and (max-width: 990px) {
        .Small-img{
            height:500px;
        }
        .Eligibility-img{
            height:500px;
        }
        .Checklist-img{
            height:500px;
        }
        .Documents-img{
            height:500px;
        }
        .Benefits-img{
            height:500px;
        }
        .Proceed-img{
            height:500px;
        }
        .HowRegisterKaro-img{
            height:500px;
        }
    }
}
  