.sole-reg {
    @media screen and (max-width: 990px) {
      .DifferentTypes-img {
        height: 280px;
      }
      .benefits-img {
        height: 600px;
      }
      .DocumentRequired-img {
        height: 600px;
      }
      .RegisterUnderEstablishment-img{
        
      }
    
    }
    @media screen and (max-width: 500px) {
      .benefits-img , .DocumentRequired-img{
        height: 100%;
      }

    }
    
  }
  