.nsic-reg{
    @media screen and (max-width:990px) {
        .Benefits-img{
            border: 1px solid black;
        }
        .Eligible-img{
            border: 1px solid black;
        }
        .Challenges-img{
            border: 1px solid black;
        }
        .Schemes-img{
            border: 1px solid black;
        }
        .Documents-img{
            border: 1px solid black;
        }
        .ProcessNSIC-img{
            border: 1px solid black;
        }
        .WhyChoose-img{
            border: 1px solid black;
        }
    }
}