.state-fssai-license-registration-reg {
  @media screen and (max-width: 990px) {
    .Safety-img{
      height: 500px;
    }
    .Benefits-img{
      height: 500px;
    }
    .needs-img{
      height: 500px;
    }
    .Penalties-img{
      height: 500px;
    }
  }
}
