.startup-reg {
    @media screen and (max-width: 990px) {
      .Objectives-img{

      }
      .Benefits-img{
        
      }
      .Eligibility-img{

      }
      .Checklist-img{

      }
      .DocRequired-img{

      }
      .Procedure-img {

      }
    }
    @media screen and (max-width: 600px) {
      .Objectives-img{
        height: 100%;
      }
      .Eligibility-img{
        height: 100%;              
      }
      .Checklist-img{
        height: 100%;            
      }
      .DocRequired-img{
        height: 100%;            
      }
      .Procedure-img {
        height: 100%;              
      }
    }
  }
  