.startup-reg {
  .certificate{
    height: 40.5rem;
    width: 38rem;
  }
    @media screen and (max-width: 990px) {
     
      .Objectives-img{

      }
      .Benefits-img{
        
      }
      .Eligibility-img{

      }
      .Checklist-img{

      }
      .DocRequired-img{

      }
      .Procedure-img {

      }
    }
   
  }
  