.tds-return-filing-reg{
    @media screen and (max-width: 990px) {
        .Eligible-img{
            border:1px solid black;
        }
        .Forms-img{
            border:1px solid black;
        }
        .Deadlines-img{
            border:1px solid black;
        }
        .ProcessBtn-img{
            border:1px solid black;
        }
        .Rates-img{
            border:1px solid black;
        }
        .Happens-img{
            border:1px solid black;
        }
        .HowDoes-img{
            border:1px solid black;
        }
    }
}