.thailand-regi {
  @media screen and (max-width: 990px) {
    .WhyStart-img{
      height: 600px;

    }
    .Types-img{
      height: 600px;

    }
    .Registration-img{
      height: 500px;

    }
    .DocumentRequired-img{
      height: 800px;

    }
  
    .WhyChoose-img{
      height: 500px;

    }
  }
}
