.trademark-rectification-reg{
    @media screen and (max-width:990px) {
        .WhoCan-img{
            border: 1px solid black;
        }
        .When-img{
            border: 1px solid black;
        }
        .HowProceed-img{
            border: 1px solid black;
        }
        .Forms-img{
            border: 1px solid black;
        }
        .HowRegisterKaro-img{
            border: 1px solid black;
        }
    }
}