.trademark-rectification-reg{
    @media screen and (max-width : 990px) {
        .WhoCan-img{
           width: 100%;
        }
        .When-img{
           width: 100%;
        }
        .HowProceed-img{
           width: 100%;
        }
        .Forms-img{
           width: 100%;
        }
        .HowRegisterKaro-img{
           width: 100%;
        }
    }
}