.trademark-search-reg{
    @media screen and (max-width:990px) {
        .DifferentTypes-img{
            border: 1px solid black;
        }
        .ApplicableRules-img{
            border: 1px solid black;
        }
        .ServicesInvolved-img{
            border: 1px solid black;
        }
        .WhyNecessary-img{
            border: 1px solid black;
        }
        .ImportantPoints-img{
            border: 1px solid black;
        }
        .WhatProcess-img{
            border: 1px solid black;
        }
    }
}