.trust-reg {
  @media screen and (max-width: 990px) {
    .TrustsComp-img{
      height: 600px;
    }
    .PartiesInvolved -img{
      height: 600px;
    }
    .Categories -img{
      height: 600px;
    }
    .Regularity -img{
      height: 600px;
    }
    .ImportanceTrust-img{
      height: 600px;
    }
    .Advantages -img{
      height: 600px;
    }
    .Prerequisite -img{
      height: 600px;
    }
    .Components -img{
      height: 900px;
    }
    .Documentation-img{
      height: 800px;
    }
    .Procedure-img{
      height: 600px;
    }
    .TrustsComp-img{
      height: 600px;
    }
    .Dissolution-img{
      height: 500px;
    }
    .RegiFee-img{
      height: 500px;
    }
  }

 
}
