.usa-company-reg {
  @media screen and (max-width: 990px) {
    .Process-img{
      height: 600px;
    }
    .Benefits-img{
      height: 600px;
    }
    .Types-img{
      height: 600px;
    }
    .LLC-img{
      height: 600px;
    }
    .InfoAndDoc-img{
      height: 600px;
    }
    .InformationRequired-img{
      height: 600px;
    }
    .DocumentsRequired-img{
      height: 600px;
    }
    .Business-img{
      height: 600px;
    }
    .WhyRegisterkaro-img{
      height: 600px;
    }
  }
}
