.virtual-cfo-services-reg {
    @media screen and (max-width: 990px) {
        .WhyChoose-img{
            border:1px solid black;
        }
        .Functions-img{
            border:1px solid black;
        }
        .CFOServices-img{
            border:1px solid black;
        }
        .Virtual-img{
            border:1px solid black;
        }
        .Types-img{
            border:1px solid black;
        }
        .WhyRegisterKaroChoose-img{
            border:1px solid black;
        }
        .OurProcess-img{
            border:1px solid black;
        }
    }
  }
  