.virtual-office-reg {
  @media screen and (max-width: 990px) {
    .Technology-img{
      height:100%;
    }
    .Features-img{
      height:100%;
    }
    .Benefits-img{
      height:100%;
    }
    .Drawbacks-img{
      height:100%;
    }
    .Impact-img{
      height:100%;
    }
    .Future-img{
      height:100%;
    }
    .Cost-img{
      height:100%;
    }
    .Laws-img{
      height:100%;
    }
   
  }
}
