.wordmark-registration-reg {
    @media screen and (max-width: 990px) {
        .Wordmark-img{
            height:500px;
        }
        .Products-img{
            height:500px;
        }
        .DocumentsRequired-img{
            height:500px;
        }
        .Registration-img{
            height:600px;
        }
        .Validity-img{
            height:500px;
        }
        .Renewal-img{
            height:500px;
        }
        .Cancellation-img{
            height:500px;
        }
    }
  }
  