.business-form-mobile {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  *::before,
  *::after {
    box-sizing: border-box;
  }
  padding: 0;
  padding-top: 20px;

  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  select {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
    margin: 25px;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    margin: 20px 30px;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }

  .progress {
    background-color: #fe9c28 !important;
    width: 0%;
    transition: 0.3s;
  }

  .progress-step-mobile {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step-mobile::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step-mobile::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }

  .progress-step-mobile-active {
    background-color: #fe9c28 !important;
    color: #f3f3f3;
  }


  /* for white background only */
  .white-bg{
    width: 100%;
    padding: 0px 40px 80px 40px;
  }

  /* Form */
  .form {
    width: auto;
    margin: 0 auto;
    border-radius: 0.35rem;
  }

  .form-step-mobile {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-mobile-active {
    display: block;
  }

  .input-group {
    margin: 2rem 0;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: white;
  }

  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #1f4e66;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #fe9c28;
  }

  //   new css
  .radio {
    display: flex;
    gap: 20px;
    input {
      width: 20px;
    }
    label {
      margin-top: 6px;
    }
  }
  .form-step-mobile {
    h3 {
      text-align: center;
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 1450px) {
  .business-form{
    .form{
      width: auto;
    }
  }
}