.company-registrations {
  .steps {
    color: #1b4962;
  }
  .mainContainer {
    padding: 2rem;
  }
  .cardContainer {
    border-radius: 15px;
  }
  .cardShadow {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .ht-118 {
      height: 118px;
    }
    .wh-120 {
      width: 120px;
    }
    .wh-128 {
      width: 128px;
    }
  }
  .cardStyle {
    gap: 8rem;
    margin-top: 3rem;
  }
  .cardStyle p {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
  }
  .forms-desktop {
    display: block;
  }
  .forms-mobile {
    display: none !important;
  }
  @media screen and (max-width: 600px) {
    .forms-desktop {
      display: none !important;
    }
    .forms-mobile {
      display: block !important;
    }
    .imgContainer {
      display: flex;
      flex-direction: column;
    }
    .arrowImg {
      transform: rotate(90deg);
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100px;
      height: 20px;
    }
    .stepsStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
      margin-top: -6rem;
    }
    .cardStyle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 35px;
      position: relative;
      top: 13px;
    }
    .cardStyle p {
      font-family: "Gilroy-Bold", sans-serif;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 25px;
      font-size: 22px;
    }
    .cardContainer {
      padding: 20px;
    }
    .cardShadow {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .ht-118 {
        height: 138px;
      }
      .wh-120 {
        width: 140px;
      }
      .wh-128 {
        width: 148px;
      }
    }
    .mt-4 {
      margin-top: 4px;
    }
  }
}
