.pricing {
  &__item {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 15px;
    position: relative;
    background-color: $color-light;
    background: #ffffff;
    box-shadow: 18px 18px 55px #d9d9d9, -4px -4px 65px #ffffff;
    &__tag {
      position: absolute;
      left: 0;
      top: 30px;
      text-transform: uppercase;
      background-color: $color-primary;
      color: $color-light;
      padding: 5px 12px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
    &__icon {
      border-radius: 50%;
      margin: 15px auto;
      font-size: 50px;
      background-color: $color-tertiary;
      color: $color-primary;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      position: relative;
      i {
        z-index: 1;
        position: relative;
        transition: all 0.4s;
      }
      &::after {
        position: absolute;
        width: 0;
        content: "";
        background-color: $color-primary;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        inset: 0;
      }
    }
    &:hover .pricing__item__icon:after {
      width: 100%;
      visibility: visible;
      opacity: 1;
    }
    &:hover .pricing__item__icon {
      color: $color-light;
    }
    &__list {
      display: flex;
      justify-content: center;
      ul {
        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 12px;
          &:not(:first-child) {
            margin-top: 12px;
          }
        }
      }
      &--ico {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid $color-primary;
        color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
    }
    .btn__primary {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(50%) translateX(-50%);
      display: flex;
      align-items: center;
      padding-right: 6px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 200px;
      justify-content: center;
      span {
        font-weight: 500;
        i {
          margin-left: 7px;
          padding: 10px;
          display: inline-block;
          border-radius: 50%;
          font-size: 20px;
          background-color: $color-tertiary;
          color: $color-secondary;
        }
      }
    }
  }
  .font-28{
    font-size: 28px;
  }
  .font-Montserrat{
    font-family: Montserrat;
  }
  .font-helvetica{
    font-family: helvetica;
  }
}