.pvt-registration {
  display: block;
  .checkmark {
    transform: rotate(45deg);
    height: 20px;
    width: 9px;
    margin: 0;
    margin-right: 10px;
    border-bottom: 4px solid #164760;
    border-right: 4px solid #164760;
  }
}
.pvt-registration-mobile {
  display: none;
  .checkmark {
    transform: rotate(45deg);
    height: 20px;
    width: 9px;
    margin: 0;
    margin-right: 10px;
    border-bottom: 4px solid #164760;
    border-right: 4px solid #164760;
  }
  .active-main-container {
    padding: 0px;
    // border: 1px solid #8f8f8f;
    color: black !important;
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .display-flex {
      display: flex;
      flex-direction: row;
      div {
        flex: 1;
      }
    }
    .active {
      margin: 10px 20px 20px 20px;
    }
    .all-btn {
      display: flex;
      cursor: pointer;
      margin-bottom: 10px;
      div {
        flex: 1;
        text-align: center;
        padding: 10px 0px;
        border-right: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
        background-color: lightgray;
      }
      .active-btn {
        border-bottom: transparent;
        background-color: white;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -5px;
          left: 50%;
          transform: translate(-50%);
          width: calc(100% + 2px);
          height: 5px;
          background-color: #fe9c28;
        }
      }
      .fifth {
        border-right: none;
        border-top: none;
      }
    }
    .document-flex {
      display: flex;
      gap: 40px;
    }
    .none {
      display: none;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
      opacity: 1;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  }
}
@media screen and (max-width: 1450px) {
  .pvt-registration {
    display: none;
  }
  .pvt-registration-mobile {
    display: block;
    .m-auto {
      width: 80%;
      margin: auto;
    }
    .business-main-form {
      .text-md-start {
        text-align: center !important;
      }
      display: flex;
      flex-direction: column !important;
      width: auto;
      padding: 0 !important;
      gap: 0px;
      .test {
        margin: auto;
        padding-bottom: 0px !important;
        .hero-content {
          margin-bottom: 20px;
        }
      }
      .right-main-form {
        margin: auto;
      }
      .col-lg-7 {
        width: 100% !important;
      }
      .business-form {
        h4 {
          margin-top: 0px;
        }
      }
    }
    .business-reviews {
      h4 {
        padding: 0px 20px;
        text-align: center;
      }
    }
    .flex-test-phone {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .business-main-form-bottom,
    .circle-position {
      display: none;
    }
  }
}
