.Slide {
  margin-bottom: 60px;
  .swiper {
    padding-left: 80px;
    @media screen and (max-width: 500px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 380px) {
      padding-left: 20px;
    }
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 110px;
  }
  .imgZoom {
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
    display: flex;
  }
  .imgZoom:hover {
    transform: scale(1.1);
    overflow: hidden;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #fffb87;
  }
}
