.whatsapp {
  .whatsapp-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 19px;
    left: 35px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    &:hover {
      color: #fff;
    }
  }
}
