.p-three-what-time-container{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    padding-top: 33px;
    padding-bottom: 54px;
    @include tablet{
        padding-top: 24px;
        padding-bottom: 32px;
    }
    .container{

    .heading{
        

        h2{
            margin: auto;
            max-width: 673px;
            font-family: Montserrat;
            font-size: 44px;
            font-weight: 700;
            line-height: 55px;
            text-align: center;
            color: #FFA229;
            @include tablet{
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 700;
                line-height: 29.26px;
                text-align: left;
                margin-bottom: 16px;

            }

            span{
                background: linear-gradient(270deg, #22417A, #3F78E0);
                 background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Montserrat;
                font-size: 44px;
                font-weight: 700;
                line-height: 55px;
                text-align: center;   
                @include tablet{
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29.26px;
                    text-align: left;

                }             
            }

        
        }
        p{
            max-width: 1100px;
            margin: auto;
            font-family: Montserrat;
            font-size: 28px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
            color: #333333;
            @include tablet{
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 21.14px;
                text-align: left;

            }
            span{
                font-family: Montserrat;
                font-size: 28px;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
                background: linear-gradient(270deg, #22417A, #3F78E0);
                background-clip: text;
               -webkit-text-fill-color: transparent;

               @include tablet{
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 21.14px;
                text-align: left;

               }

            }

        }
        .line{
          width: 66.4%;
          height: 3px;
          margin: 40px auto 54px auto;
          border: none;
          background-color: #3F78E0;
  
          @include tablet{
            display: none;
          }
        }
  
       }  
  }
  .card-container{
    background: linear-gradient(to right, #014dd2, #1f4d9e);
    margin-top: 128px;
    width: 100%;
    
    .cards{
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        min-height:345px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;

        overflow: hidden;


        @include tablet{
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding-left: 20px;

            width: 100%;
            height: 100%;
            margin-top: 40px;
        }
    
        .man-img-container{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-15%);
            width: 525px;
            max-height: 345px;
            overflow: hidden;
            z-index: 30;
            @include tablet{
                width: 300px;
                max-height: 175px;
                transform: translateX(30%);
                top: auto;
                left: auto;
                bottom: 0;
                right: 0;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotateY(180deg);
                @include tablet{
                    transform: rotateY(0deg);
                }
            }
        }

        .lines{
            width: 100%;
            position: absolute;
            left: -20%;
            transform: rotate(-40deg);
            .white-line{
                background: white;
                height: 30px;
                width: 100%;
            }
            .black-line{
                background: #0F1F29;
                height: 100px;
                width: 100%;
            }

            @include tablet{
                width: 200%;
                left: -50%;
            }
        }

        .cards-cta{
            position: relative;
            background: #FFFFFF;
            border: 5px solid #004cd2;
            border-left: 0px;
            width: 75%;
            padding: 40px 20px 40px 80px;
            z-index: 20;

            display: flex;
            align-items: center;
            gap: 1rem;

            @include tablet{
                width: 100%;
                border-color: #0F1F29;
                padding-left: 10px;
                border-right: 0px;
                
            }

            .triangles{
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-50%);
                height: 100%;
                z-index: -10;
                .whiteTriangle{
                    height: 100%;
                }
                .blackTriangle{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateY(100%);
                    z-index: 100;
                    @include tablet{
                        display: none;
                    }
                }
            }

            h4{
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
                color: #0F1F29;
                @include tablet{
                    font-size: 16px;
                    line-height: 22.42px;
                    text-align: left;
                }
            }
            button{
                background: linear-gradient(to right, #FF7300 0%, #FE9C28 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 6px;
                border: 2px solid #FE9C28;
                padding: 0.5rem 4rem;
                p{
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    text-wrap: nowrap;
                }

                @include tablet{
                    display: none;
                }
            }
        }

        .get-free-cons-mobile{
            z-index: 20;
            background: linear-gradient(to right, #FF7300 0%, #FE9C28 100%);
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 6px;
            border: 2px solid #FE9C28;
            padding: 1rem 0.5rem;
            display: none;
            @include tablet{
                display: flex;
            }
            p{
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                text-wrap: nowrap;
            }
        }
        
    }
  }
}